@import "../node_modules/bootstrap/scss/bootstrap.scss";

$color-main: #C4C3BF;
$subton: #8c8a83;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-main;
    font-family: k;
}

header {
    .title-line {
        background-color: $black;
        height: 2px;
    }

    .title {
        cursor: pointer;
    }
    .sub-title {
        font-size:x-small;
    }

    .date {
        font-size: xx-small;
    }
    .date-line {
        background-color: $black;
        height: 1px;
    }
}


.input-box {
    background-color: $subton;
    position: absolute;
    top: 50%;
}
