@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../asset/sass/input-box.scss";
@import "../asset/sass/input-img.scss";

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@100;300;500;700&display=swap');


$color-main: #C4C3BF;
$subton: #8c8a83;
$color-box:#433E3E;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-main;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    .title-line {
        background-color: $black;
        height: 2px;
    }

    .title {
        cursor: pointer;
    
    }
    .sub-title {
        font-size:x-small;
        cursor: pointer;
    }

    .date {
        font-size: xx-small;
    }
    .date-line {
        background-color: $black;
        height: 1px;
    }
}

 .pointer {
    cursor: pointer;
 }

.img-box {
    display: flex;
    background-color: $color-box;
    height: auto;
    width: 100%;

    cursor: pointer;

    object-fit: cover;
    background-image: url(/asset/svg/add_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    
}